@import "src/assets/styles/colors";
@import "src/assets/styles/mixins";

.app-loader {
  display: none;
  margin: 100px;
  width: 200px;
  height: 200px;
  animation: rotation 2s infinite linear;

  &__icon > svg {
    width: 200px;
    height: 200px;
  }

  &._visible {
    display: inline-block;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
