@import "src/assets/styles/colors";
@import "src/assets/styles/mixins";

.app-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 30px 120px;

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__label {
    @include font(20px, 400);
  }

  &__text-field,
  &__memo-field {
    margin-bottom: 16px;
    height: 40px;
    min-width: 100%;
    max-width: 100%;
    border: 2px solid $grey;
    border-radius: 0;
    padding: 0 8px;

    &:focus {
      border-color: $dark-grey;
      border-radius: 0;
      outline: none;
    }
  }

  &__memo-field {
    height: 150px;
    min-height: 100px;
    padding: 8px;
  }

  &__button {
    &-wrapper {
      display: flex;
      margin-bottom: 40px;
    }

    width: 160px;
    height: 40px;
    margin-right: 16px;
    cursor: pointer;
    border: 2px solid $grey;
    background-color: $snow-white;
    @include font(20px, 700, $grey);

    &:hover {
      border-color: $dark-grey;
      color: $dark-grey;
    }
  }

  &__list {
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    &-title {
      @include font(26px, 700);
    }

    &-text {
      @include font(20px, 400);
      margin-bottom: 16px;
    }

    &-date {
      text-align: end;
      @include font(16px, 400, $grey);
    }

    &-icon {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      & > svg {
        fill: $dark-grey;
        stroke: $dark-grey;
      }

      &:hover > svg {
        fill: $primary-orange;
        stroke: $primary-orange;
      }
    }
  }

  &__separator {
    width: 80%;
    border-bottom: 1px solid $dark-grey;
    margin: 30px 0;
  }

  &__no-news {
    @include font(30px, 400, $grey);
  }

  @media only screen and (max-width: 960px) {
    padding: 20px;

    &__no-news {
      font-size: 22px;
    }
  }
}
