@import "src/assets/styles/colors";
@import "src/assets/styles/mixins";

.app-search-field {
  display: block;
  position: relative;

  &__input {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    padding: 4px 16px;
    background: $snow-white;
    border-radius: 10px;

    &::placeholder {
      color: $grey;
    }
  }

  &__icon {
    position: absolute;

    top: 8px;
    right: 8px;

    & > svg {
      fill: $grey;
    }
  }

}
