<section class="app-contacts__info">
    <div class="app-contacts__info-item">
        <div class="app-contacts__info-title">{{'contacts.address-title' | translate}}</div>
        <div class="app-contacts__info-text">{{'contacts.address' | translate}}</div>
    </div>

    <div class="app-contacts__info-item">
        <div class="app-contacts__info-title">{{'contacts.phones-title' | translate}}</div>
        <div class="app-contacts__info-text">
            +7 (903) 123-45-67
            <br>
            +7 (903) 123-45-67
        </div>
    </div>

    <div class="app-contacts__info-item">
        <div class="app-contacts__info-title">{{'contacts.mail-title' | translate}}</div>
        <div class="app-contacts__info-text">someemail@gmail.com</div>
    </div>
</section>

<section class="app-contacts__map">
    <angular-yandex-map [center]="[55.751952, 37.600739]" [zoom]="15">
        <angular-yandex-placemark [geometry]="[55.751952, 37.600739]"></angular-yandex-placemark>
    </angular-yandex-map>
</section>

<section class="app-contacts__description">
    <div class="app-contacts__description-header">{{'contacts.directions' | translate}}</div>
    <div class="app-contacts__description-title">{{'contacts.by-car' | translate}}</div>
    <div class="app-contacts__description-text">{{'contacts.by-car-route' | translate}}</div>
    <div class="app-contacts__description-title">{{'contacts.by-public-transport' | translate}}</div>
    <div class="app-contacts__description-text">{{'contacts.by-public-transport-route' | translate}}</div>
</section>
