<section class="app-about__card">
    <div class="app-about__tile">
        <h1 class="app-about__tile-header">
            {{'about.tile.header' | translate}}
        </h1>
        <span class="app-about__tile-text">
            {{'about.tile.text' | translate}}
        </span>
    </div>
</section>

<section class="app-about__description">
    <div class="app-about__description-text">
        {{'about.description' | translate}}
    </div>
</section>

<section class="app-about__partners">
    <span class="app-about__partners-header">
        {{'about.partners.header' | translate}}
    </span>

    <span class="app-about__partners-text">
        {{'about.partners.text' | translate}}
    </span>

    <div class="app-about__partners-list">
        <a class="app-about__partners-link">
            <img
                src="./assets/images/amazon-logo.png"
                class="app-about__partners-logo"
                alt="Partner's logo"
            >
        </a>
        <a class="app-about__partners-link">
            <img
                src="./assets/images/amazon-logo.png"
                class="app-about__partners-logo"
                alt="Partner's logo"
            >
        </a>
        <a class="app-about__partners-link">
            <img
                src="./assets/images/amazon-logo.png"
                class="app-about__partners-logo"
                alt="Partner's logo"
            >
        </a>
        <a class="app-about__partners-link">
            <img
                src="./assets/images/amazon-logo.png"
                class="app-about__partners-logo"
                alt="Partner's logo"
            >
        </a>
        <a class="app-about__partners-link">
            <img
                src="./assets/images/amazon-logo.png"
                class="app-about__partners-logo"
                alt="Partner's logo"
            >
        </a>
        <a class="app-about__partners-link">
            <img
                src="./assets/images/amazon-logo.png"
                class="app-about__partners-logo"
                alt="Partner's logo"
            >
        </a>
    </div>
</section>

