<form
    class="app-login__form"
    [formGroup]="_form"
    (ngSubmit)="_onSubmit()"
>
    <div class="app-login__title">{{'login.login-needed' | translate}}</div>

    <input
        class="app-login__field"
        id="login"
        type="text"
        [placeholder]="'login.login' | translate"
        formControlName='login'
    >

    <input
        class="app-login__field"
        id="password"
        type="password"
        [placeholder]="'login.password' | translate"
        formControlName='password'
    >

    <div *ngIf="_error" class="app-login__error">{{'login.error' | translate}}</div>

    <button
        class="app-login__button"
        type="submit"
    >
        {{'login.submit' | translate}}
    </button>
</form>
