<header class="app-root__header">
  <div class="app-root__logo" routerLink="/main">
    <svg-icon 
      src="./assets/icons/logo.svg"
      class="app-news__logo-icon"
    ></svg-icon>

    <div class="app-root__logo-text">
      {{'title' | translate}}
    </div>
  </div>

  <nav class="app-root__nav">
    <a class="app-root__nav-item" routerLink="/main" routerLinkActive="_active">
      {{ "pages.main" | translate }}
    </a>
    <a class="app-root__nav-item" routerLink="/news" routerLinkActive="_active">
      {{ "pages.news" | translate }}
    </a>
    <a
      class="app-root__nav-item"
      routerLink="/documents"
      routerLinkActive="_active"
    >
      {{ "pages.documents" | translate }}
    </a>
    <a
      class="app-root__nav-item"
      routerLink="/contacts"
      routerLinkActive="_active"
    >
      {{ "pages.contacts" | translate }}
    </a>

    <app-language-dropdown class="app-root__language-dropdown">
    </app-language-dropdown>
  </nav>
</header>

<main class="app-root__main">
  <router-outlet></router-outlet>
</main>

<footer class="app-root__footer">
  <div class="app-root__footer-text">
    <div class="app-root__footer-text-row">
      © 2020 СФО ООО
    </div>
    <div class="app-root__footer-text-row">
      «Специализированное финансовое общество
    </div>
    <div class="app-root__footer-text-row">
      Солнечная генерация Х»
      <svg-icon
        src="./assets/icons/login.svg"
        class="app-root__login-icon"
        routerLink="/login"
      ></svg-icon>
    </div>
  </div>

  <div class="app-root__footer-separator"></div>

  <div class="app-root__contact">
    <div class="app-root__contact-item">
      <svg-icon
        src="./assets/icons/location.svg"
        class="app-root__contact-icon"
      ></svg-icon>
      <span class="app-root__contact-text">{{ "address" | translate }}</span>
    </div>

    <div class="app-root__contact-item">
      <svg-icon
        src="./assets/icons/phone.svg"
        class="app-root__contact-icon"
      ></svg-icon>
      <span class="app-root__contact-text">+7 (903) 233-23-34</span>
    </div>

    <div class="app-root__contact-item">
      <svg-icon
        src="./assets/icons/mail.svg"
        class="app-root__contact-icon"
      ></svg-icon>
      <span class="app-root__contact-text">someemail@gmail.com</span>
    </div>
  </div>
</footer>
