@mixin font-face($file-name, $font-family, $font-weight: 400, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url("./assets/fonts/#{$file-name}.ttf") format("opentype");
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@include font-face(NotoSans-ExtraLight, NotoSans, 200);
@include font-face(NotoSans-Regular, NotoSans, 400);
@include font-face(NotoSans-Bold, NotoSans, 700);
